/* Navbar.css */
.navbar-custom {
  background: rgba(52, 78, 65, 0.9); /* dark forest green */
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.brand-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #DAD7CD !important;
}

.navbar-custom .nav-link {
  color: #DAD7CD !important;
  margin: 0 15px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.navbar-custom .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #A3B18A;
  transition: width 0.3s;
}

.navbar-custom .nav-link:hover {
  color: #A3B18A !important;
}

.navbar-custom .nav-link:hover::after {
  width: 100%;
}
