:root {
  --primary: #f9f9f9;
  --secondary: #282828;
  --accent1: #D90368;
  --accent2: #04E762;
  --image-base: #c2c2c2;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Poppins', sans-serif;
}
